body{
  /**Add a color**/
  margin: 20px;
  
}
.picture{
  width: 200px;
  height: 200px;
  border: solid black; 
}

#one{
  width: 250px;
  height: 1000px;
  background-image: url('./one.jpg');
  background-size: cover;
  background-position: center;
}

#two{
  width: 200px;
  height: 400px;
  background-image: url('./two.jpg');
  background-size: cover;
  background-position: center;
}

#three{
  background-image: url('./three.jpg');
  background-size: cover;
  background-position: center;
}

#four{
  width: 450px;
  background-image: url('./four.jpg');
  background-size: cover;
  background-position: center;
}

#five{
  width: 212px;
  background-image: url('./five.jpg');
  background-size: cover;
  background-position: center;
}

#six{
  width: 212px;
  background-image: url('./six.jpg');
  background-size: cover;
  background-position: center;
}

#seven{
  width: 450px;
  background-image: url('./seven.jpg');
  background-size: cover;
  background-position: center;
}

#eight{
  width: 400px;
  height: 500px;
  background-image: url('./eight.jpg');
  background-size: cover;
  background-position: center;
}

#nine{
  width: 400px;
  height: 500px;
  background-image: url('./nine.HEIC');
  background-size: cover;
  background-position: center;
}
.allImages{
  display: flex; 
  gap: 20px; 
  
}

.col-two {
  display: flex; 
  flex-direction: column; 
  gap: 30px; 
   
}

.col-three{
  display: flex; 
  flex-direction: column; 
  gap: 20px; 
}
.threeHalf{
  display:flex;
  gap: 20px; 
}
.col-four{
  display: flex; 
  gap: 20px;
  flex-direction: column; 
}


